snippet basicMake "basic makefile" bA
SRCS = main.cpp

OBJS = ${SRCS:.cpp=.o}
CPPFLAGS = -Wall -Wextra -Werror
NAME = $1

all: ${NAME}

${NAME}: ${OBJS}
  g++ ${OBJS} -o ${NAME}

clean:
  rm -rf ${OBJS}

fclean: clean
  rm -rf ${NAME}

re: fclean all
endsnippet
