global !p
def complete(t, opts):
	if t:
		opts = [m[len(t):] for m in opts if m.startswith(t)]
	if len(opts) == 1:
		return opts[0]
	return '(' + '|'.join(opts) + ')'
endglobal

snippet post
---
layout: $1`!p snip.rv = complete(t[1], ['post_kevin', 'index'])`
title: $2
author: kevin
category: planet
---

$3

<!--break-->

$4
endsnippet

snippet %high "Highlight code" bA
{% highlight $1 %}

$2

{% endhighlight %}
endsnippet

